<%- include('partials/header'); -%>

<header>
  <div class="learning">
    <img src="/public/learning.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Learning Subjects</h2>
    <h3>By Teacher For Students</h3>
    <a href="/views/learning.ejs" class="btn">View Subjects</a>
  </div>
</header>


<%- include('partials/footer'); -%>