<%- include('partials/header'); -%>

<ul class="subjects">
  <li class="subject">
    <img src="/public/learning.jpg" alt="learning student icon">
    <h4>Android</h4>
    <p>Android is a mobile operating system based on a modified version of the Linux kernel and other open source software, designed primarily for touchscreen mobile devices such as smartphones and tablets.</p>
  </li>
  <li class="subject">
    <img src="/public/learning.jpg" alt="learning student icon">
    <h4>Kotlin</h4>
    <p>Kotlin (/ˈkɒtlɪn/)[3] is a cross-platform, statically typed, general-purpose programming language with type inference.</p>
  </li>
  <li class="subject">
    <img src="/public/learning.jpg" alt="learning student icon">
    <h4>Java</h4>
    <p>Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible. </p>
  </li>
  <li class="subject">
    <img src="/public/learning.jpg" alt="learning student icon">
    <h4>Python</h4>
    <p>Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. </p>
  </li>
  <li class="subject">
    <img src="/public/learning.jpg" alt="learning student icon">
    <h4>HTML</h4>
    <p>The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser. </p>
  </li>
  <li class="subject">
    <img src="/public/learning.jpg" alt="learning student icon">
    <h4>CSS</h4>
    <p>Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML.</p>
  </li>
</ul>

<%- include('partials/footer'); -%>